.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;

    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
}

.navbar-home-link {
    text-transform: uppercase;
    display:block;
    padding: 16px;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    text-transform: uppercase;
    display:block;
    padding: 16px;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #00af98;
    transition: all 0.2s ease-in-out;
}